pre {background-color: transparent; font-size: 8pt;}
code {background-color: transparent;}
.navbar {margin-bottom: 10px;}
.table {font-size: 9pt;}
.table ul {padding-left: 3px;}
.textarea-results {overflow: auto; font-size: 8pt;}
